### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### JetBrains files
.idea
*.iml
out
gen

### macOS
# General
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
